<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<settings>
    <setting name="logImpl" value="STDOUT_LOGGING"/>
</settings>
    <typeAliases>
        <package name="cn.tbs.pojo"/>
    </typeAliases>

    <!--配置数据库环境-->
    <environments default="mysql">
        <environment id="mysql">
            <!--事务管理器-->
            <transactionManager type="JDBC"></transactionManager>
            <!--使用默认的数据库的连接池-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"></property>
                <property name="url"
                          value="jdbc:mysql://localhost:3306/mybatis_day01?characterEncoding=utf-8&amp;serverTimezone=Asia/Shanghai&amp;useSSL=false"></property>
                <property name="username" value="root"></property>
                <property name="password" value="123123"></property>
            </dataSource>

        </environment>
    </environments>

    <!--加载映射文件-->
    <mappers>
        <mapper resource="cn/tbs/mapper/userMapper.xml"></mapper>
<!--        <package name="cn.tbs.mapper"/>-->
    </mappers>

</configuration>